  /* styles resets */
* {
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Gothic A1', sans-serif;
}

  /* Grid background and images */

.grid_area {
  background: url("../assets/images/background.jpg") 50% 100% no-repeat;
  height: 538px;
  min-width: 1440px;
  display: flex;
  flex-direction: column;
}

  /* navbar */

nav {
  display: flex;
  align-self: center;
  margin-top: 83px;
}

nav a {
  background: rgb(111,111,111);
  background: linear-gradient(0deg, rgba(111,111,111,1) 0%, rgba(85,85,85,1) 50%, rgba(95,95,95,1) 51%, rgba(111,111,111,1) 100%);
  border: 1px solid #757575;
  color: white;
  text-align: center;
  line-height: 30px;
  text-shadow: 0px 0.6px rgba(0, 0, 0, 0.6), 0px -0.6px rgba(0, 0, 0, 0.9);
  width: 106px;
  height: 36px;
  font-weight: bold;
  font-size: 14px;
  padding-top: 3px;

}

nav a:last-child {
  width: 130px;
  border-radius: 0 5px 5px 0;
}

nav a:first-child {
  line-height: 40px;
  border-radius: 5px 0 0 5px;
}

input {
  width: 80%;
  outline: none;
  border: none;
  background: url(/assets/images/lupa.png) no-repeat 1%;
  border-radius: 30px;
  box-shadow: 0px 1px #808080, 0px -1px #363636;
  padding-left: 20px;
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.images img {
  border: 1px solid red;
  width: 364px;
  height: auto;
  display: flex;
}
